<table>
    <tr valign="top">
        <td><img src="{{ post.author.avatar(36) }}"></td>
        <td>
            <a href="{{ url_for('user', username=post.author.username) }}">
                {{ post.author.username }}
            </a>
            wrote new research on:
            <br> {{ post.title }}
            <br>
            <br>
            {{ post.body }}
        </td>
    </tr>
</table>