{% extends "base.html" %}

{% block content %}
    <table>
        <tr valign="top">
            <td>
                <h1>Community: {{ community.communityname }}</h1>
                {% if community.about_community %}<p>{{ community.about_community }}</p>{% endif %}
            </td>
            <td>
                {% for post in feed %}
                <a href="{{ url_for('user', username=post.user_id.username) }}">
                    {{ post.user_id.username }}
                </a>
                wrote new research on:
                <br> {{ post.title }}
                <br>
                <br>
                {{ post.body }}
                {% endfor %}
            </td>
        </tr>
    </table>
    <hr>
{% endblock %}
