{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    {% if form %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.post_title.label }}<br>
            {{ form.post_title(cols=32, rows=4) }}<br>
            {% for error in form.post_title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.post_body.label }}<br>
            {{ form.post_body(cols=32, rows=4) }}<br>
            {% for error in form.post_body.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p> 
        <p>
            {{ form.post_community.label }}<br>
            {{ form.post_community(cols=32, rows=4) }}<br>
            {% for error in form.post_community.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p> 
        <p>{{ form.submit() }}</p>
    </form>
    {% endif %}

    {% for post in posts %}
    {% include '_post.html' %}
    {% endfor %}

    {% if prev_url %}
    <a href="{{ prev_url }}">Newer posts</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">Older posts</a>
    {% endif %}
{% endblock %}